[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
apache-beam = {extras = ["doc", "test"], version = "*"}

[packages]
apache-beam = {extras = ["aws"], version = "*"}

[requires]
python_version = "3.8"
